<style>#cabecera { width: 100%;}</style>
<div class="py-4">
  <h1>Autorización especialistas</h1>
  <hr class="w-100"/>

  <table class="table table-dark w-80 m-auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>       
        <th scope="col">Estado</th>

      </tr>
    </thead>

    <tbody>

      {{#each especialistas}}
      <tr>
        <td>{{@index}}</td>
        <td>
          <div>                
            <img id="foto-perfil" src="{{this.foto}}" height="55" Width="75">                
          </div>
        </td>
        <td>{{this.nombre}}<br>{{this.ci}}<br>{{this.correo}}<br>{{this.especialidad}}<br>{{this.credenciales}}</td>
        
        <td>{{this.estado}}</td>
        <td><input type="checkbox" {{#if this.estado}} checked {{/if}} onclick="changeStatus({{this.id}}, this)"></td>
      </tr>
      {{/each}}

    </tbody>
  </table>
</div>

  