<style>#cabecera { width: 100%;}</style></header>
<div class="col-12 bg-black mt-5">
  <div class="py-5 text-center">
  <h1>Contacto</h1>
  <br>
  
  <form action="/contacto" method="POST">
  <div class="align-left">
    <p>Junto con saludar, solicito orientacion con la siguiente situacion:
       
    <p>Tengo un {{this.especie}} llamado {{this.nombre_mascota}} que se encuentra con estos sintomas: {{sintomas}}</p>
    <p>Como antecedente, cabe destacar que tiene {{edad}}, pesa {{this.peso}}, {{this.es_vacunado}} se encuentra vacunado, y {{this.es_esterilizado}} esta esterilizado. </p>
    <p>Intervenciones quirurgicas: {{this.detalle_operaciones}}</p>
  </div>
    
  <div>
    <button class="btn btn-danger mb-2 py-2 w-50 m-auto">Enviar correo</button>
  </div>  
         
  </form>
</div>