<style>#cabecera { width: 100%;}</style>
<div class="py-4">
  <h1>Lista de especialistas</h1>
  <hr class="w-100"/>

  <table class="table table-dark w-80 m-auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>        
        <th scope="col">Selección</th>
      </tr>
    </thead>

    <tbody> 
           
      {{#each especialistas}}
      <tr>
        <td>{{@index}}</td>
        <td>
          <div>                
            <img class="rounded-circle" src="{{this.foto_especialista}}" height="55" Width="75">                
          </div>
        </td>
        <td>{{this.nombre_especialista}}<br>{{this.especialidad}}<br>{{this.credenciales}}<br></td> 
               
        <td><input type="radio" name="seleccion" {{#if false }} checked {{/if}} onclick="autorizar({{this.cedula_de_identidad}}, this)"></td>   
        
      </tr>  
      {{/each}} 
      
    </tbody>
  </table>
  <div class="text-center mt-3">    
    <a  href="./contacto">Revisar texto que será enviado</a>
  </div>
    
</div>


<script>

  const autorizar = async (cedula_de_identidad, e) => {    
    const seleccion = e.checked
    console.log(cedula_de_identidad, seleccion);
    try {
      await axios.put('/seleccion_especialista', {
        cedula_de_identidad,
        seleccion
      })
      alert(seleccion ? 'Especialista seleccionado, por favor confirme seleccion' : 'Ha ocurrido un error, intente más tarde');      
    }
    catch ({ respuesta }) {
      const { data } = respuesta
      const { error } = data
      alert(error)
    }    
  }
  
</script>   