<div class="container-fluid">
  <style>#cabecera { width: 100%;}</style>
  
  <div class="row">
    <div class="col-5">
      {{> relleno }} 
      {{> relleno-texto }}       
    </div>

    <div class="responsivo col-7 bg-black mt-5 text-center pt-5">
      <h1>Hola {{nombre_tutor}}!!</h1>
      <h2>Estos son tus datos de perfil</h2>
      <h2>Ahora completa los datos de tu mascota</h2>
      <br>

      <form action="/actualizar/{{this.cedula_de_identidad}}?_method=PUT" method="POST">
      <input type="hidden" name="_method" value="PUT">       
        <div class="form-group">
          <div>                
            <img id="foto_perfil" src="{{this.foto_tutor}}">                
          </div>
          <div class="form-group py-3"> 
            <label>Nombre</label>       
            <input type="text" name="nombre_tutor" class="form-control w-50 m-auto" value="{{this.nombre_tutor}}"> 
          </div>
          <div class="form-group py-3">  
            <label>Cedula de identidad</label>      
            <input type="text" name="cedula_de_identidad" class="form-control w-50 m-auto" value="{{this.cedula_de_identidad}}"> 
          </div>
          <div class="form-group py-3">        
            <label>Telefono</label>
            <input type="text" name="telefono" class="form-control w-50 m-auto" value="{{this.telefono}}"> 
          </div>
          <div class="form-group py-3"> 
            <label>Correo</label>       
            <input type="text" name="correo_tutor" class="form-control w-50 m-auto" value="{{this.correo_tutor}}"> 
          </div>                    
        </div>
        <br>
        <div>
          <button type="submit" class="btn btn-success my-3 pt-2 w-50 m-auto">Actualizar</button><br>
        </div>
      </form>
      <div>
        <form action="/eliminar/{{this.cedula_de_identidad}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger my-3 pt-2 w-50 m-auto">Eliminar cuenta</button>    
        </form>      
      </div>
      <div class="mb-5">
            <a  href="./registro_mascota">Registra a tu mascota</a>
            <a  href="./datos_mascota">Ver datos de tu mascota</a>            
      </div>

      <div>
        <a  href="./lista_especialistas">Lista de especialistas</a>
      </div>

    </div>
  </div>
</div>

