<div class="container-fluid">
  <style>#cabecera { width: 100%;}</style>
  
  <div class="row">
    <div class="col-5">
      {{> relleno }} 
      {{> relleno-texto }}       
    </div>

    <div class="responsivo col-7 bg-black mt-5 text-center pt-5">
      <h1>Hola {{this.nombre_especialista}}!!</h1>
      <h2>Estos son tus datos de perfil</h2>
      <h2>Por favor, mantén actualizado tu correo electrónico</h2>
      <br>

      <form action="/actualizar_especialista/{{this.cedula_de_identidad}}?_method=PUT" method="POST">
      <input type="hidden" name="_method" value="PUT">       
        <div class="form-group">
          <div>                
            <img id="foto_perfil" src="{{this.foto_especialista}}">                
          </div>
          <div class="form-group py-3"> 
            <label>Nombre</label>       
            <input type="text" name="nombre_especialista" class="form-control w-50 m-auto" value="{{this.nombre_especialista}}"> 
          </div>
          <div class="form-group py-3">  
            <label>Cedula de identidad</label>      
            <input type="text" name="cedula_de_identidad" class="form-control w-50 m-auto" value="{{this.cedula_de_identidad}}"> 
          </div> 
          <div class="form-group py-3">  
            <label>Correo</label>      
            <input type="text" name="correo_especialista" class="form-control w-50 m-auto" value="{{this.correo_especialista}}"> 
          </div>          
          <div class="form-group py-3"> 
            <label>Credenciales</label>       
            <input type="text" name="credenciales" class="form-control w-50 m-auto" value="{{this.credenciales}}"> 
          </div> 
          <div class="form-group py-3">        
            <label>Especialidad</label>
            <input type="text" name="especialidad" class="form-control w-50 m-auto" value="{{this.especialidad}}">
          </div>                   
        </div>
        <br>
        <div>
          <button type="submit" class="btn btn-success my-3 pt-2 w-50 m-auto">Actualizar</button><br>
        </div>
      </form>
      <div>
        <form action="/eliminar_especialista/{{this.cedula_de_identidad}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger my-3 py-2 w-50 m-auto">Eliminar cuenta</button>             
        </form>      
      </div>
        <div class="mb-5">
            <a  href="./bandeja_entrada">Tus correos de hoy</a>
        </div>    
    </div>
  </div>
</div>

